               body {
                background: #0325a3;                     
              }     
              #Img{
                    width: 55%;
                    margin-left: 0%;
                    margin-top: 22vh;
              }           
              .form {
                position: fixed;
                top: 25vh;
                right: 15vh;
                width: 360px;
                padding: 8% 0 0;
                float:right;              
                z-index: 1;
                border: 0px solid black;
                max-width: 360px;               
                padding: 45px;
                text-align: center;
              }
              ::placeholder {
                 color: whitesmoke;
                opacity: .7; /* Firefox */
              }
              input[type=text], input[type=password] {

                font-family: "Roboto", sans-serif;
                outline: 0;
                border: 1px solid whitesmoke;
                color: whitesmoke;
                border-radius: 4px; 
                background:none;
                width: 100%;               
                margin: 0 0 15px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
              }
              input[type=submit],input[type=reset] {
                font-family: "Roboto", sans-serif;
                border-radius: 4px; 
                
                outline: 0;
                background: #cccccc;
                width: 49%;                
                border: 0;
                padding: 15px;
                 margin: 0 0 5px;
                color: black;
                font-size: 14px;
           
              }
              input[type=submit]:hover,input[type=reset]:hover{

                background: #8c8c8c;
              }              
              input[type=text]:hover,input[type=password]:hover,input[type=text]:focus,input[type=password]:focus{
              	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
              
              }
              #Error{
                font-size: 25px;
                color: whitesmoke;

              }



